<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
        {{>header}}
        <p>{{errorMessage}}</p>
        <h1>{{city}} </h1>
    </body>
</html>