<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
        {{>header}}
       <h1>ABOUT PAGE</h1> 
        <img src= '/img/download.png'>
        <p>created by {{name}}</p>
    </body>
</html>